<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TeamChiliChiliDetails</title>
</head>
<body>
​
<h2>Chili info</h2>
​
<ul>
    <li th:text="'Name: ' + ${chiliElement.nameOfChili}"></li>
    <li th:text="'Origin: ' + ${chiliElement.originOfChili}"></li>
    <li th:text="'Scoville value: ' + ${chiliElement.scovilleOfChili}"></li>
    <li th:text="'Color: ' + ${chiliElement.colorOfChili}"></li>
</ul>
​
<!--<a th:href="'/?page=' + ${currentPage}" >Return to catalog</a>-->
​
</body>
</html>