<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TeamChiliChiliDetails</title>
</head>
<body>
​
<header></header>
<h1 th:text="${chiliElement.nameOfChili}"></h1>
<br>
<img th:src="${chiliElement.imageURL}"  style="height: 200px; width: auto">
<ul>
    <li th:text="'Origin: ' + ${chiliElement.originOfChili}"></li>
    <li th:text="'Scoville value: ' + ${chiliElement.scovilleOfChili}"></li>
    <li th:text="'Color: ' + ${chiliElement.colorOfChili}"></li>
</ul>

<iframe th:src="${chiliElement.videoURL}"> video of chilis</iframe>
​
<div id="pagination">
    <a th:if="${currentId > 0}" th:href="'/?id='+${chiliElement.id - 1}"
    >Previous</a>
    ​
    ​
    <a th:if="${currentId < numberOfChilies - 1}" th:href="'/?id='+${chiliElement.id + 1}">Next</a>
</div>
​
<a th:href="'/?page=' + ${numberOfChilies / pageSize - 1}">Return to catalog</a>
​
<footer></footer>
</body>
</html>